<ng-container *ngIf="shouldShow()">
  <div layout-align="center center" class="layout-align-center-center">
    <div
      layout="column"
      class="bar alert-bar layout-align-center-center layout-column"
      layout-align="center center"
      style="height:100%"
    >
      <span class="bar-text">
        Go back to
        <a
          href="https://umb.libguides.com/c.php?g=1479566"
          class="md-primoExplore-theme"
          >Research Assistant information page,</a
        >or submit your
        <a
          href="https://forms.gle/VFc54SeCgCGCFkyU8"
          class="feedback-link md-primoExplore-theme"
          >feedback</a
        >
      </span>
    </div>
  </div>
</ng-container>
