<div layout-align="center center" class="layout-align-center-center">
  <div
    layout="column"
    class="bar alert-bar layout-align-center-center"
    layout-align="center center"
    style="height: 100%"
  >
    <span class="bar-text">
      Go back to
      <a href="https://umb.libguides.com/c.php?g=1479566"
        >Research Assistant information page</a
      >,
      or submit your
      <a href="https://forms.gle/VFc54SeCgCGCFkyU8" class="feedback-link"
        >feedback</a
      >
    </span>
  </div>
</div>
